.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 100vh; /* Ocupa 100% da altura da tela */
}

.header {
  text-align: center;
  background-color: rgb(219, 215, 215);
  color: black;
  width: 100%;
  opacity: 98%;
}

.tela-principal {
  width: 100%; /* Faz o card ocupar 100% da largura */
  height: 85%; /* Faz o card ocupar 100% da altura */
  max-width: none; /* Remove limites padrão */
  max-height: none; /* Remove limites padrão */
  background-color: rgba(173, 216, 230, 0.7);
  display: flex;
}

.actions {
  display: flex;
  gap: 10px;
}

mat-slide-toggle{
  width: 20px;
}

mat-card{
  width: 50%;
  margin: 20px;
  opacity: 1; /* Sobrescreve a opacidade do pai */
  background-color: white; /* Garante que o fundo seja sólido */
  z-index: 1; /* Garante que ele esteja acima do fundo */
}

mat-slide-toggle{
  margin-left: 50%;
}
