<div class="main-container">
  <!-- Header
  <header class="header">
    <h1>Bem-vindo, {{ nomeDoUsuario }}</h1>
  </header>
-->
  <!-- Card de Saldo -->
  <mat-card class="tela-principal">
    <mat-card-header>
      <mat-card-title>Saldo Bancário</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h2>R$ {{ saldo }}</h2>
    </mat-card-content>
  </mat-card>

  <!-- Botões de Ação -->
 <!-- <div class="actions">
    <button mat-raised-button color="primary" (click)="verExtrato()">Extrato Bancário</button>
    <button mat-raised-button color="accent" (click)="realizarCredito()">Crédito</button>
    <button mat-raised-button color="warn" (click)="realizarDebito()">Débito</button>
  </div>
  -->
</div>
