.form-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
  height: 100vh;           /* Faz a altura do contêiner ser igual à altura da tela */
}

.mensagem{
  margin-right: 30px;
  width: 500px;   /* Define a largura da div */
  height: 250px;  /* Define a altura da div */
  background-color: lightblue; /* Apenas para visualização */
  opacity: 0.90;
}

h2{
  text-align: center;
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  height: 100vh; /* Usa 100% da altura da janela */

  }

.login{
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  text-align: center;
  position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.login-form {
  align-items: center;
  width: 500px;   /* Define a largura da div */
  height: 250px;  /* Define a altura da div */
  background-color: lightblue; /* Apenas para visualização */
  opacity: 0.90;
  position: relative;
}

label{
  padding-top: 10px;
}

button{
  margin: 8px 8px 8px 0;
  width: 40%;
}

input{
  margin: 3px;
}
