<div class="form-container">

  <mat-card class="mensagem" appearance="outlined">
    <h2> Bem vindo ao banco com maior rendimento financeiro do Brasil </h2>
  </mat-card>

  <mat-card class="login-form" appearance="outlined">
    <div class="login">
      <h3>
        Login
      </h3>
      <form (ngSubmit)="login()">
          <mat-form-field>
            <mat-label>Número da conta</mat-label>
            <input matInput type="text" id="accountNumber" [(ngModel)]="user.numeroDaConta" placeholder="Número da Conta" name="accountNumber" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput type="password" id="password" [(ngModel)]="user.senha" placeholder="******" name="password" required>
          </mat-form-field>
        <button mat-flat-button type="submit">Entrar</button>
        <button mat-flat-button type="submit" [routerLink]="['/cadastro']">Criar Conta</button>
      </form>
    </div>
  </mat-card>

</div>

