section {
  width: 80%;
  min-width: 350px;
  height: 70%;
  margin: auto;
  background-color: white;
  border-radius: 15px;
}
h1 {
  text-align: left;
  margin-left: 20px;
  padding-top: 20px;
}
form {
  width: 100%;
  min-width: 300px;
  max-width: 1500px;
  margin: auto;
  button {
    background-color: #005cbb;
    color: white;
    float: right;
    margin-right: 10px;
  }
}
hr {
  border-color: rgba(0, 0, 0, 0.2);
}
mat-form-field {
  display: block;
  margin: auto;
  width: 90%;
}
