<div class="main-container">

  <div class="tela-cadastro">

   <mat-card class="card-formulario">
     <mat-card-header>
       <mat-card-title class="nome">Cadastro </mat-card-title>
     </mat-card-header>
     <mat-card-content>



<div>
  <div class="example-container">
    <form >
      <div class="example-form-fields">
        <mat-form-field >
          <input matInput placeholder="Simple placeholder" required />
        </mat-form-field>

        <mat-form-field >
          <mat-label>Both a label and a placeholder</mat-label>
          <input matInput placeholder="Simple placeholder" />
        </mat-form-field>

        <mat-form-field >
          <mat-select required>
            <mat-option>-- None --</mat-option>
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>

</div>
     </mat-card-content>
   </mat-card>

 </div>
</div>

